.chat-message {
  flex-grow: 0;
  color: #ffffff;
  display: inline-flex;
  margin-bottom: 10px;
  padding: 10px;
  &.chat-message--in {
    .chat-message__text {
      align-self: flex-start;
      display: inline-block;
      padding: 10px;
      background-color: #104969;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  &.chat-message--out {
    float: right;
    .chat-message__text {
      align-self: flex-start;
      padding: 10px;
      background-color: #3578c6;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  .chat-message__image {
    height: 50px;
    align-self: flex-end;
  }
}
